<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoyuan.database.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.chaoyuan.database.type.QuestionDB">
        <id column="ID" property="id" />
        <result column="DESCRIPTION" property="description" />
        <result column="ANSWER_TEMPLATE" property="answerTemplate" />
    </resultMap>

    <sql id="columns">
        ID,
        DESCRIPTION,
        ANSWER_TEMPLATE
    </sql>

    <sql id="columnsWithoutId">
        DESCRIPTION,
        ANSWER_TEMPLATE
    </sql>

    <sql id="values">
        #{entity.description},
        #{entity.answerTemplate}
    </sql>

    <sql id="updateValues">
        DESCRIPTION = #{entity.description},
        ANSWER_TEMPLATE = #{entity.answerTemplate}
    </sql>

    <select id="get" resultMap="BaseResultMap">
        SELECT
        <include refid="columns"/>
        FROM question WHERE id = #{id}
    </select>

    <insert id="save" parameterType="com.chaoyuan.database.type.QuestionDB" useGeneratedKeys="true" keyProperty="entity.id" keyColumn="id">
        INSERT INTO question
        (
        <include refid="columnsWithoutId"/>
        )
        VALUES
        (
        <include refid="values"/>
        )
    </insert>

    <update id="update" parameterType="com.chaoyuan.database.type.QuestionDB">
        UPDATE question SET
        <include refid="updateValues"/>
        WHERE id=#{entity.id}
    </update>

    <delete id="delete">
        DELETE FROM question WHERE id=#{id}
    </delete>

</mapper>