<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="participantService" class="com.chaoyuan.controller.service.impl.ParticipantServiceImpl">
        <property name="dao" ref="participantMysqlDao" />
    </bean>

    <bean id="questionService" class="com.chaoyuan.controller.service.impl.QuestionServiceImpl">
        <property name="dao" ref="questionMysqlDao" />
    </bean>

    <bean id="AnswerService" class="com.chaoyuan.controller.service.impl.AnswerServiceImpl">
        <property name="dao" ref="answerMysqlDao" />
    </bean>

</beans>